body {
    background-image: url('/static/Images/Background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-body {
    background-image: url('/static/Images/fondo.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #EAEAEA;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    z-index: 1;
}

.login-container h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

.login-container label {
    font-size: 14px;
    color: #666;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #DCDCDC;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #5797FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #1d1d66;
}

.login-container .crear-cuenta {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

.login-container .crear-cuenta a {
    color: #2F2F89;
    text-decoration: none;
}

.login-container .crear-cuenta a:hover {
    text-decoration: underline;
}

.login-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 395px;
    height: 345px;
    background-color: #F0F0F0;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.login-background1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 395px;
    height: 600px;
    background-color: #F0F0F0;
    transform: translate(-50%, -50%);
    z-index: 0;
}

header {
    width: 100%;
    background-color: #2F2F89;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: left 0.3s;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
}

header .user-cart {
    display: flex;
    align-items: center;
}

header .user-icon {
    font-size: 1.5em;
}

header .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}
header .dropdown-menu li {
    padding: 5px;
    cursor: pointer;
}

header .dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.user-cart {
    display: flex;
    align-items: center;
    margin-right: auto;
    position: relative;
}

.user-icon, .cart-icon {
    margin-right: 20px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.sidebar {
    width: 200px;
    background-color: #696969;
    color: white;
    padding-top: 80px;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    transition: transform 0.3s;
    transform: translateX(-100%);
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
    padding: 8px;
}

.sidebar:not(.collapsed) {
    transform: translateX(0);
}

.main-content {
    background-color: white;
    width: 92%;
    max-width: 1090px;
    padding: 20px;
    margin: 0 auto;
    flex-grow: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}


main {
    margin-left: 50px;
    padding: 100px 0 0;
    max-width: 1200px;
    transition: margin-left 0.3s;
}

.sidebar.collapsed + main {
    margin-left: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    background-color: #696969;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 215px;
    z-index: 2;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-grid {
    display: flex;
    overflow-x: auto; 
    gap: 16px; 
    scroll-snap-type: x mandatory; 
}
.product img {
    width: 75%;
    border-radius: 1px;
}

.product p {
    font-weight: bold;
    margin-top: 10px;
}

.product .price {
    color: green;
    font-size: 18px;
    margin-top: 5px;
}

.product .rating {
    margin-top: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

 .cart-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-left: 3%;
    height: 100%; 
}

.cart-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.cart-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding: 20px;
    width: 0px; 
}


.pay-button {
    width: 13%;
    position: absolute; 
    bottom: 38px; 
    right: 250px; 
    padding: 10px 20px;
    background-color: #C2F1C8;
    color: rgb(0, 0, 0);
    border-color: black;
    cursor: pointer;
    margin-top: 10px;
}

.pay-button1 {
    width: 13%;
    position: absolute; 
    bottom: 20px; 
    right: 650px; 
    padding: 10px 20px;
    background-color: #C2F1C8;
    color: rgb(0, 0, 0);
    border-color: black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

.pay-button2 {
    width: 13%;
    position: absolute; 
    bottom: 110px; 
    right: 650px; 
    padding: 10px 20px;
    background-color: #1cd234;
    color: rgb(255, 255, 255);
    border-color: black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}


footer {
    background-color: #2F2F89;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; 
    bottom: 0;
    width: 100%;
}

.product-info {
    width: 100%;
    right: 0px; 
    display: flex;
}

.saldo-info {
    width: 100%;
    margin-top: -81px; 
}

.product-image {
    width: 100px; 
    height: auto;
    margin-right: 20px; 
    margin-left: 0px; 

}

.product-details {
    flex-grow: 1; 
}

.product-b {
    flex-grow: 1; 
    margin-left: 100px;
    border: 2px solid #000000;
    padding: 25px;            
    margin: 40px;   
    pointer-events: all; 
    margin-top: 5px;
}

.saldo-b {
    flex-grow: 1; 
    margin-left: 100px;
    border: 2px solid #000000;
    padding: 25px;            
    margin: 40px;   
    pointer-events: all; 
    padding-bottom: 10px; 

}

.saldo-b h1 {
    margin-top: 0px; 
    margin-bottom: 5px;
    font-size: 24px;
}

.product-price {
    font-weight: bold;
    margin-left: 930px;    
}

.total-section {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid black; 
    border-top: 1px solid black;  


}
.product-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.total-sec{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-top: 250px;
    font-weight: bold;
    border-top: 1px solid black;  

}

.regresar-btn {
    background: none;
    border: none;
    font-size: 24px; 
    color: white; 
    cursor: pointer;
}

.dropdown-menu a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
}

.dropdown-menu a:hover {
    color: rgb(255, 255, 255); 
    text-decoration: underline; 
}

.cant {
    color: rgb(3, 206, 0); 
    font-size: 24px; 
}

.canto {
    color: rgb(0, 0, 0); 
    font-weight: bold;
}

.btn-historial{
    border: none;
    font-size: 25px; 
    cursor: pointer;
    width: 100px; 
    height: 50px;
    background: none;
    margin-left: 34px;

}

.btn-historial img {
    width: 400px; 
    height: auto; 
}

.btn-historial:hover img {
    opacity: 0.8;
}

.img-small {
    width: 10px !important;
    height: auto !important;
}

.btn-aumento{
    border: none;
    font-size: 25px; 
    cursor: pointer;
    width: 100px; 
    height: 50px;
    background: none;
    margin-left: 433px;
    margin-top: 15px;
}

.btn-aumento img {
    width: 400px; 
    height: auto; 

}

.btn-aumento:hover img {
    opacity: 0.8;
}

.compr-list {
    list-style-type: none;
    padding: 0 0 200px 0; 
    margin: 0;
    border-top: 2px solid black;  
    border-left: 2px solid black; 
    border-right: 2px solid black;  
    border-bottom: 2px solid black;  
    margin-top: 15px;
    margin-right: 40px;
}

.compr-item {
    background: #ffffff;
    padding: 20px;
    border-bottom: 1px solid black;  
}

.compr-info h3 {
    margin: 0;
    font-size: 18px;
    color: #000000;

}

.compr-info p {
    margin: 5px 0;
    color: #000000;
}

.compr-info hr {
    margin-top: 10px;
    border: 0;
}

.compr-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: right;
    min-width: 120px; 
}

.venc-price {
    font-size: 22px;
    font-weight: bold;
    color: #ad0000;
    text-align: center;
    min-width: 650px; 
}

.venc-price1 {
    font-size: 22px;
    font-weight: bold;
    color: #001c95;
    text-align: center;
    min-width: 650px; 
}

.venc-price2 {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    min-width: 350px; 
    line-height: 1;
    padding: 0; 
}

.venc-row p,
.venc-row div {
    margin: 12px; 
    padding: 0; 
}

.compr-row {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.venc-row {
    font-size: 22px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

#fecha-real {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px; 
    margin-top: 20px;
}

.form-ca {
    background-color: #ECEDED;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 100px;
    width: 500px;
    text-align: left;
    margin-left: 200px;
    margin-top: 70px; 
    font-size: 18px;
}




.form-ca h2 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #000000;
    margin-top: 0px;
    text-align: center;
}



input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    background-color: #E0E0E0;
    font-size: 16px;
}

textarea {
    resize: none;
}

 .modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.titulo{
    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
        background-image: none; 
    } 
    #sidebar {
        width: 100%; 
        position: relative; 
        display: block; 
        padding: 0; 
        background-color: #f8f9fa; 
    }

    .titulo{
        text-align-last: left;
    }

    .header-content {
        flex-direction: left;
        align-items: left;
        text-align: left;
    }

    .header-content .user-cart {
        margin-bottom: 10px; 
    }

    .header-content span {
        margin: 10px 0;
    }

    .cart-icon {
        font-size: 30px; 
    }

    .deta{
        text-align: left;
    }

    .product-item {
        width: 5%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .saldo-info{
        text-align: left;
        margin-left: -143px;
        margin-right: 100px;
        margin-top: -368px;;
    }

    .saldo-b {
        min-width: 0;
        max-width: 46%; 
        width: auto; 
        margin-right: 100px;
        margin-left: 100px;
    }

    
    .venc-row{
        font-size: 15px;
        font-weight: bold;
        margin-left: -10px;
    }

    .venc-price2{
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        text-align: left;
        min-width: 100px; 
        line-height: 1;
        padding: 0; 
    }

    .venc-price1{
        font-size: 15px;
        font-weight: bold;
        color: #06086e;
        text-align: left;
        min-width: 100px; 
        line-height: 1;
        padding: 0; 
    }

    .venc-price{
        font-size: 15px;
        font-weight: bold;
        color: #870e0e;
        text-align: left;
        min-width: 100px; 
        line-height: 1;
        padding: 0; 
    }
    .product-details {
        text-align: justify;
        margin-top: -150px;
        margin-right: -280px;
        margin-left: 50px;
    }

    .product-list{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        padding: 1px;
    }
    
    .cart-left{
        margin-top: 60px;
    }
 
    
    .total-section {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        font-size: 12px; 
        width: 105%; 
        margin-left: -30px;
    } 
    
    .total-sec{
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        font-size: 12px; 
        width: 105%; 
        margin-left: -30px; 
        margin-bottom: 150px;  
    }
    .product-price{
            margin-left: 255px; 
            align-self: flex-start; 
     }
     .pay-button {
        display: block;          
        width: fit-content;       
        margin: 0 auto;           
        text-align: center;       
        padding: 10px 20px;      
        font-size: 16px;   
        margin-bottom: -120px;
        margin-right: -220px;      
    }

    .btn-historial, .btn-aumento {
        width: 190px; 
        height: auto; 
        padding: 0; 
        margin: 0; 
        margin-right: 68px;
        margin-left: -45px;
        margin-top: -500px;
    }
    
    .btn-historial img, .btn-aumento img {
        width: 100%; 
        height: 100%; 
        object-fit: contain;
    }
    .btn-container {
        display: flex; 
        justify-content: flex-start;
        align-items: center; 
    }
     
    
    .product-b{
        text-align: left;
        margin-left: 250px;
        margin-bottom: 300px;
        width: 350px;
        height: auto; 
    }

    .compr-list{
        margin-left: -20px;
        margin-right: -10px;
    }

    .dea{
        text-align: left;
    }

    .fecha{
        max-width: 46%;
        margin-right: -10px;
    }
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
    }
    
    .pay-button12 {
        padding: 15px 30px;
        font-size: 18px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }
    
    .pay-button1:hover {
        background-color: #0056b3;
    }
}