<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="user-cart">
                <button id="regresar-btn" class="regresar-btn" onclick="window.location.href='/Form1';">
                    <i class="bi bi-chevron-left"></i>
                </button>
            </div>
            <span class="user-icon" id="user-icon">👤 Usuario</span>
            <a href="/Carrito">
                <div class="cart-icon">🛒</div>
            </a>
            <div class="dropdown-menu" id="dropdown-menu">
                <ul>
                    <li><a href="/Form1" class="menu-link1">Mi cuenta</a></li>                
                    <li><a href="/logout" class="menu-link2" onclick="return confirmarCerrarSesion();">Cerrar sesión</a></li>
                </ul>
            </div>
           
    </header>

    <aside id="sidebar" class="sidebar collapsed">
        <ul>
            <li>Inicio</li>
            <li>Moda</li>
            <li>Hogar</li>
            <li>Electrónica</li>
        </ul>
    </aside>

    <div class="main-content">
        <div class="cart-container">
            <div class="cart-left">
                <br>
                <br>
                <center>
                    <h1>Historial de compras</h1>
                </center>
                <ul class="compr-list">
                    <li class="compr-item">
                        <div class="compr-info">
                            <h3>Smartphone XYZ</h3>
                            <p>Cantidad: 1</p>
                            <div class="compr-row">
                                <p>Fecha de compra: 2024-11-01</p>
                                <div class="compr-price">$150.00</div>
                            </div>
                            <hr>
                        </div>
                    </li>
                        <li class="compr-item">
                        <div class="compr-info">
                            <h3>Producto: Smartphone XYZ</h3>
                            <p>Cantidad: 1</p>
                            <div class="compr-row">
                                <p>Fecha de compra: 2024-11-01</p>
                                <div class="compr-price">$150.00</div>
                            </div>
                            <hr>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
